/* common shared styles  */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.text-primary-clr {
    color: #FD6E0A;
}

.btn-primary {
    background-color: #FD6E0A;
    border-radius: 5px;
    color: #FFF;
    border: 0;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
}

.section-des {
    color: #757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}


/* header related styles  */
.header {
    background-color: #FFF8F3;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: bottom right;
}

/* nav related styles */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;
}

nav .nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav>ul li {
    list-style: none;
    margin-right: 50px;
}

nav>ul li a {
    text-decoration: none;
    color: #474747;
}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .banner-content {
    max-width: 600px;
}

.banner .prfl-pic {
    width: 500px;
    height: 550px;
}

.banner .banner-greet {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}

.banner .banner-title {
    font-size: 60px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 20px;
}

.banner .banner-des {
    font-size: 18px;
    font-weight: 400;
    color: #757575;
    margin-bottom: 30px;
}

.banner .gap {
    margin-right: 30px;
}


/* main section styles  */
main {
    max-width: 1150px;
    margin: 0 auto;
}

/* about section styles  */

.about {
    background-color: #FFF8F3;
    border-radius: 10px;
    margin: 130px 0;
    padding: 130px;
}

.about .about-info-container {
    padding-top: 40px;
    display: flex;
    justify-content: space-around;
}

.about .about-info-container .about-info {
    text-align: center;
}

/* what I do section styles  */

#what-i-do {
    padding: 0 150px 30px 150px;
}

/* Skill section styles  */
.skill-container {
    display: flex;
    gap: 20px;
}

.skill {
    background-color: #FFF;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}

.skill-title {
    color: #181818;
    font-size: 20px;
    font-weight: 700;
    margin-top: 20px;
}

.skill-des {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Resume section styles  */

.resume {
    border-radius: 10px;
    margin: 130px 0;
}

.resume .resume-container {
    display: flex;
    gap: 50px;
    margin-top: 130px;
}

.resume-col-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}

.resume-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-top: 30px;
}

.resume-sub-title {
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.resume-des {
    color:#757575;
    font-size: 16px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 30px;
}

.download-cv{
    margin: 20px 0;
    text-align: center;
}